{% extends "web/wrapper.html" %}

{% block content %}
    {% include "web/modals.html" %}


<div class="container mt-3">
  <div class="row">


    <div class="col-lg-6 col-12">

    <div 
        id="added_new_comment"
        class="alert alert-primary text-center fs-5 shadow-sm" 
        role="alert"
        data-bs-toggle="modal" 
        data-bs-target="#staticBackdrop-add-comment"
        style="cursor: pointer;"
        @click="cancel_answer()"
    >
        <i class="bi bi-chat-dots me-2"></i> Оставьте тут свой комментарий
    </div>


       {% for comment in comments %}
            <div id="comment_{{comment.id}}" style="margin-left: {{ level|default:0 }}px;">
                
                {% if not comment.parent_id %}
                    <div class="card mb-2">
                        <div class="card-header bg-warning">
                                
                            <span class="me-2"> 
                                <i class="bi bi-person-circle me-1"></i>
                                <strong> {{ comment.user }} </strong> 
                            </span> 

                            <span class="me-2">
                                <small> {{ comment.created_at|date:"d.m.Y H:i:s" }} </small>
                            </span>

                            <span 
                                @click="answer_message({{comment.id}}, {{level}})"
                                data-bs-toggle="modal" 
                                data-bs-target="#staticBackdrop-add-comment"
                            > 
                                <i class="bi bi-reply"></i> ответить 
                            </span>

                        </div>

                        <div class="card-body">
                            <p class="card-text" v-html="fix_html_tags('{{ comment.text }}')"></p>
                        </div>

                    </div>
                {% endif %}

                {% if comment.replies.all %}
                    {% include "web/comment_partial.html" with comments=comment.replies.all level=level|add:20 is_root=is_root %}
                {% endif %}

            </div>
        {% endfor %}
    </div>


    <!--
    <div class="col-lg-6 col-12">

        <div 
            v-if="message_id > 0"
            class="p-3 my-2 border rounded bg-light text-center fw-semibold"
        >
            Ответ на комментарий #
            <span class="me-3" v-text="message_id"></span>
            <span 
                @click="cancel_answer()"
                style="cursor:pointer;"
            > 
                <small>[сброс ответа]</small> 
            </span>
        </div>


        <form 
            method="POST"
            @submit.prevent="submitForm"
            id="send_comment_form"
            enctype="multipart/form-data"
        >

            {% csrf_token %}
            <input type="hidden" name="answer_id" :value="message_id">

            {{ form.username }}
            {{ form.email }}
            {{ form.home_page }}
            {{ form.captcha }}

            <div id="tag_panel" class="d-flex flex-wrap gap-2 align-items-start p-2 border rounded bg-white"> 
                <span @click="add_tag('strong')" class="me-2"> <b>B</b> </span>
                <span @click="add_tag('italic')" class="me-2"> <i>I</i> </span>
                <span @click="add_tag('link')" class="me-2"> Link </span>
                <span @click="add_tag('code')"> Code </span>
            </div>
            {{ form.comment }}
            {{ form.file }}

            <button type="submit">Отправить</button>

        </form>

        <div id="send_comment_form_response" class="mt-2"></div>
    </div>
    -->


  </div>
</div>


{% endblock %}